.header-image { background-image: url("https://media.gettyimages.com/photos/development-team-cooperating-in-their-office-picture-id523860874?s=2048x2048"); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #999; }

div{
    font-family: 'Courier New', Courier, monospace
}